@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    --space-xl: 24px;

    --background: #012329;
    --surface: #034d5acc;
    --text: #e1f5f8;
    --text-secondary: #dfe9ebd5;
    --accent: #058d76;
    --accent-dark: #035c4de3;
    --danger: #a71212;
    --danger-hover: #5a0707;
    --success: #087e33;
    --success-hover: #044d1e;

}

body{
    display: flex;
    flex-direction: column;
    
    margin: auto;
    min-height: 100vh;

    background-color: var(--background);
    color: var(--text);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: var(--space-md);
    padding: var(--space-md);
}
#toggle-btn{
    background: none;
    color: var(--text);
    border: none;
    border-radius: var(--space-md);

    padding: var(--space-md);
}
#toggle-btn:hover{
    background: var(--surface);
    cursor: pointer;
}

main{
    flex: 1;

    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-inline: auto;
}
.main-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    margin: var(--space-md) 0;
}
#search-books{
    padding: var(--space-sm);
    text-align: center;
    border-radius: var(--space-md);
    border: none;
    color: var(--accent);
}
#add-book-btn{
    padding: var(--space-sm);

    border: solid 1px var(--text);
    border-radius: var(--space-md);
    background: var(--surface);
    color: var(--text);

}
#add-book-btn:hover{
    cursor: pointer;
    background: var(--accent-dark);
}
.nav-filter{
    display: flex;
    
    width: 80%;
    margin: var(--space-md) 0;
}
.nav-filter button{
    flex: 1;
    padding: var(--space-sm);
    border: none;
    border-radius: var(--space-md);

    background: none;
    color: var(--text);
}
.nav-filter button:hover{
    background-color: var(--accent-dark);
}

#books-container{
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);

    width: 90%;
    margin: var(--space-sm) auto;
}
.empty-state{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: -150px;
    opacity: .5;
}
.empty-state p, .empty-state span{
    text-align: center;
    font-size: 5rem;
}

.book-card{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    background: var(--surface);
    border-radius: var(--space-lg);
    border: 1px solid var(--text-secondary);
    overflow: hidden;
}
.book-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--space-sm);
    gap: var(--space-md);
}
.book-name{
    font-size: 1.2rem;
    font-weight: bolder;
}
.book-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    margin-top: var(--space-md);

}
.book-actions button{
    border: none;
    background: none;
    width: 100%;
    
}
.book-actions button:hover{
    background: var(--accent-dark);
    cursor: pointer;
}
.book-actions span{
    color: var(--text);
}


footer{
    display: flex;
    align-items: center;
    justify-content: center;  
    
    margin-top: var(--space-sm);

    background: var(--surface);
}
.footer-text{
    color: var(--text);
    padding: var(--space-md);
    opacity: .75;
}
.footer-text a{
    color: var(--text);
    text-decoration: none;
}
.footer-text a:hover{
    color: var(--text-secondary);
    text-decoration: underline;
    cursor: pointer;
}